.tour_detail_map {
    position: sticky;
    top     : 0;
    left    : 0;
    padding : 3rem;
    height  : calc(100vh - 6rem);

    >div {
        border-radius: 10px;
        overflow     : hidden;
    }
}

.tour_detail_map_fullscreen {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    padding : 0rem;
    height  : 100%;
    width   : 100%;
    z-index : 10;

    >div {
        border-radius: 0px;
        overflow     : hidden;
    }
}

.tour_detail_map_mobile {
    display : none;
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    padding : 0rem;
    height  : 100%;
    width   : 100%;

    >div {
        border-radius: 0px;
        overflow     : hidden;
    }
}

.tour_detail_map_fullscreen {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    padding : 0rem;
    height  : 100%;
    width   : 100%;

    >div {
        border-radius: 0px;
        overflow     : hidden;
    }
}

.tour_detail_map_button {
    position: absolute;
    top     : 4rem;
    right   : 4rem;
    z-index : 500;
}