.tour_detail_map {
    display: block;
    padding: 0rem;
    height : 400px;
    width  : 100%;

    >div {
        border-radius: 10px;
        overflow     : hidden;
    }
}

.tour_detail_map_fullscreen {
    position: fixed;
    z-index : 1900;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    padding : 0rem;
    height  : 100%;
    width   : 100%;

    >div {
        border-radius: 0px;
        overflow     : hidden;
    }
}

.tour_detail_map_button {
    position        : absolute;
    top             : 1rem;
    right           : 1rem;
    z-index         : 500;
    background-color: var(--black-50);
    color           : white;
    border          : 0;
    border-radius   : 6px;
    padding         : 0.5rem 0.75rem;
    backdrop-filter : blur(2px);
    display         : flex;
    align-items     : center;
    cursor          : pointer;

    svg {
        height     : 18px;
        width      : 18px;
        fill       : white;
        margin-left: 0.75rem;
    }

    span {
        font-size  : 0.85rem;
        font-weight: 300;
    }
}

.tour_detail_region_wrap {
    display        : flex;
    justify-content: left;
    align-items    : flex-start;
}

.tour_detail_region {
    margin      : 1.5rem 0;
    margin-right: 8rem;

    small {
        opacity: 0.75;
    }

    b {
        font-weight: 500;
        font-size  : 1.05rem;
        line-height: 1.7;
        display    : block;
    }
}

@media only screen and (max-width: 1024px) {
    .tour_detail_map {
        position: relative;
        top     : 0;
        left    : 0;
        padding : 0rem;
        height  : 250px;
    }

    .tour_detail_map_button {
        position: absolute;
        top     : 0.75rem;
        right   : 0.75rem;
        z-index : 500;
    }
}

@media only screen and (max-width: 768px) {
    .tour_detail_region {
        flex: 1;
        margin-right: 1.5rem;

        b {
            font-size: 1rem;
        }
    }
}