body {
  background-color: #161616;
  min-height      : 100vh;
  color           : white;
  font-size       : 15px;
  position        : relative;
  margin          : 0; 
  font-family: 'Epilogue', sans-serif;

}

main {
  position   : relative;
  z-index    : 2;
  margin-left: 250px;
}

.tour-wrap {
  display              : grid;
  grid-template-columns: repeat(6, 1fr);
  gap                  : 2rem;
  padding              : 2rem
}
.my-swiper {
  .swiper-slide {
    width: auto;

    picture img {
      border-radius: 3px;
      overflow: hidden;
    }
  }
}