.tour_detail_map {
    display: block;
    padding: 0rem;
    height : 100%;
    width  : 100%;


    >div {
        border-radius: 0px;
        overflow     : hidden;
    }

    .leaflet-left .leaflet-control {
        display: none;
    }

    &.fullscreen {
        .leaflet-left .leaflet-control {
            display: block;
        }

        .tour_detail_map_button {
            top      : 20px;
            right    : 1rem;
            transform: translateX(0%);
            padding  : 0.75rem;
        }
    }
}

.tour_detail_map_button {
    position        : absolute;
    top             : 100px;
    right           : 50%;
    transform       : translateX(50%);
    z-index         : 500;
    background-color: var(--black-20);
    border          : 1px solid var(--white-50);
    color           : white;
    border-radius   : 100px;
    padding         : 0.75rem 1.25rem;
    backdrop-filter : blur(4px);
    display         : flex;
    gap             : 0.5rem;
    align-items     : center;
    cursor          : pointer;

    svg {
        height: 24px;
        width : 24px;
        fill  : white;
    }

    span {
        font-size  : 1rem;
        font-weight: 300;
    }
}

.tour_detail_region_wrap {
    display         : flex;
    justify-content : left;
    align-items     : flex-start;
    gap             : 4rem;
    padding         : 1rem;
    position        : absolute;
    bottom          : 1rem;
    left            : 1rem;
    z-index         : 999;
    margin          : 1rem;
    border-radius   : 3px;
    backdrop-filter : blur(4px);
    background-color: var(--black-50);
}

.tour_detail_region {

    small {
        opacity: 0.75;
    }

    b {
        font-weight: 500;
        font-size  : 1.05rem;
        line-height: 1.7;
        display    : block;
    }
}


@media only screen and (max-width: 768px) {
    .tour_detail_region {
        flex        : 1;

        b {
            font-size: 1rem;
        }
    }

    .tour_detail_map {
        height: 200px;

        >div {
            border-radius: 6px;
        }

        &.fullscreen {
            display : block;
            position: fixed;
            top     : 0;
            left    : 0;
            height  : 100vh;
            width   : 100vw;
            z-index : 999;

        }

    }

    .tour_detail_map_button {
        top    : 0.5rem;
        padding: 0.75rem 1rem;

        span {
            font-size  : 0.85rem;
            white-space: nowrap;
        }

        svg {
            width : 18px;
            height: 18px;
        }
    }

    .tour_detail_region_wrap {
        display        : flex;
        justify-content: left;
        align-items    : flex-start;
        gap            : 4rem;
        padding        : 0rem;
        position       : relative;
        bottom         : 0rem;
        left           : 0rem;
        z-index        : 1;
        margin         : 1rem 0;
        border-radius  : 0px;
    }
}