.swiper.point-slider-wrap {
    display       : flex;
    flex-wrap     : nowrap;
    padding-bottom: 2rem;

    .swiper-button-next,
    .swiper-button-prev {
        background-color: var(--white);
        box-shadow      : 0px 4px 8px rgba(0, 0, 0, 0.3);
        border-radius   : 50px;
        width           : 40px;
        height          : 40px;
        z-index         : 11;

        &::after {
            color    : var(--black);
            font-size: 16px;
        }

        &.swiper-button-disabled {
            opacity: 0;
        }
    }


    .swiper-pagination-bullet {
        background-color: white;
    }

}

.swiper-wrapper .point-slider-item {
    width        : clamp(150px, 22.5%, 200px);
    aspect-ratio : 3/4;
    border-radius: 6px;
    position     : relative;
    display      : flex;
    align-items  : flex-end;
    box-shadow: var( --shadow-elevation-low);
}

.point-slider-overlay {
    position                  : absolute;
    bottom                    : 0;
    left                      : 0;
    width                     : 100%;
    height                    : 70%;
    background-image          : linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
    background-image          : -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index                   : 2;
    border-bottom-left-radius : 6px;
    border-bottom-right-radius: 6px;
    overflow                  : hidden;
}

.point-slider-image {
    position: absolute;
    top     : 0;
    left    : 0;
    bottom  : 0;
    right   : 0;
    z-index : 0;

    &-inner {
        display      : block;
        width        : 100%;
        height       : 100%;
        border-radius: 6px;
    }
}

.point-slider-link {
    text-decoration: none;
    color          : white;
}

.point-slider-text {
    position: relative;
    padding : 1rem;

    z-index        : 3;
    width          : calc(100% - 2rem);
    text-decoration: none;
    color          : white;

    b {
        font-weight: 400;
        font-size  : 1.15rem;
        line-height: 1;
        display    : block;
    }

    span {
        font-size: 0.75rem;
        opacity  : 0.6;
    }
}

.point-slider-time {
    position        : absolute;
    background-color: white;
    color           : black;
    border-radius   : 6px;
    right           : 0;
    top             : 50%;
    transform       : translate(60%, -50%);
    z-index         : 4;
    height          : 3rem;
    width           : 3rem;
    display         : flex;
    align-items     : center;
    outline         : 1px solid var(--black-20);
    box-shadow      : 0px 4px 10px var(--black-20);

    span {
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 100%;
        height         : 50%;
        color          : white;

        &.red {
            background-color: rgb(209, 39, 39);
        }

        &.blue {
            background-color: rgb(9, 68, 146);
        }

        &.yellow {
            background-color: rgb(235, 200, 6);
        }

        &.green {
            background-color: rgb(19, 161, 62);
        }
    }
}

@media only screen and (max-width: 768px) {
    .swiper.point-slider-wrap {

        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }
}